<div id="blogPost" class="row mt-4 hide">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form" id="new-post-form">
      <div class="form-group">
        <label for="title-name">Title:</label>
        <input class="form-input" type="text" id="post_title" name="post_title" />
      </div>
      <div class="form-group">
        <label for="comments">comments:</label>
        <textarea class="form-input" id="comments" name="comments"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>
</div>
<button id="new-post-btn" class="btn btn-primary">➕ New Post</button>
{{#each posts as |post|}}
<h3>{{post.post_title}}</h3>
<p>{{post.contents}}</p>
{{/each}}
<script src="/js/new.js"></script>